<div class="footer-wrapper">
    <div class="footer-inner">
        <footer class="main">        
<!--
            <section class="footer-top">

                <div class="footer-social">
                    <div class="footer-social-title">Connect With Sweet Green</div>
                    <ul class="footer-social-links">
                        <li class="facebook"><img src="images/social/facebook.png" alt="Like us on facebook"/> <span>Like us on Facebook</span></li>
                        <li class="twitter"><img src="images/social/twitter.png" alt="Follow us on Twitter"/> <span>Follow us on Twitter</span></li>
                        <li class="youtube"><img src="images/social/youtube.png" alt="Watch us on YouTube"/> <span>Watch us on YouTube</span></li>
                        <li class="mobile-app"><img src="images/social/mobile_app.png" alt="Get our mobile app" class="mobile-app-icon" /> <span class="mobile-app-text">Get our mobile app</span></li>
                    </ul>
                </div>

                <nav class="footer-nav">

                    <div class="footer-mobile-list">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Menu</a></li>
                            <li><a href="#">Store Finder</a></li>
                            <li><a href="#">Store Offers</a></li>
                            <li><a href="#">Nutrition</a></li>
                        </ul>

                        <ul>
                            <li><a href="#">Work With Us</a></li>
                            <li><a href="#">Franchising</a></li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>

                    <div class="footer-mobile-list">
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                        </ul>

                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Latest</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </nav>

            </section>
-->

            <section class="footer-bottom">
                <p>&copy; 2014 sweetgreen, inc.</p>
            </section>
        </footer>
    </div>
</div>    
    
    
    
 
<div id="mobile-nav-content" class="sidr">
  <ul>
      <li><a href="#">signatures</a></li>
      <li><a href="#">make your own</a></li>
      <li><a href="#">sweetflow</a></li>
      <li><a href="#">sweetpress</a></li>
      <li><a href="#">soup</a></li>
      <li><a href="#">drinks</a></li>
  </ul>
</div>


<div id="mobile-basket-content" class="sidr">
    <section class="perpetual-cart">

        <h3 style="margin-left: 14px; font-weight: bold;">Your Cart:</h3>
       
        <ul class="perpetual-cart-list">
            <li class="address-area">
                <div class="address-area-title perpetual-cart-title">You Are Ordering From:</div>
                <div class="address-lines">
                    <div class="address-line">Tysons Galleria</div>
                    <div class="address-line">1743 International Drive</div>
                    <div class="address-line">Mclean, Va 22102</div>
                    <a href="tel:7036390355" class="get-store-phone-number">(703) 639 0355</a>
                </div>
                <div class="address-actions">
                    <a href="#" class="change-store-location address-action">Change Location</a>
                    <a href="#" class="get-store-directions address-action">Directions to Here</a>
                </div>
            </li>

            <li class="pickup-date-time-area">
                <div class="pickup-date-time-area-title perpetual-cart-title">Pickup Time:</div>

                <div class="pickup-date-time-selection-area">
                    <div class="pickup-date-time-selection-list-area">
                        <label for="pickupDate">Date</label>
                        <select class="form-control select-pickup-date">
                            <option>7/22/2014</option>
                            <option>7/23/2014</option>
                            <option>7/24/2014</option>
                            <option>7/25/2014</option>
                            <option>7/26/2014</option>
                        </select>
                    </div>
                    <div class="pickup-date-time-selection-list-area">
                        <label for="pickupTime">Time</label>
                        <select class="form-control select-pickup-time">
                            <option>1:20 PM</option>
                            <option>1:30 PM</option>
                            <option>1:40 PM</option>
                            <option>1:50 PM</option>
                            <option>2:00 PM</option>
                            <option>2:10 PM</option>
                            <option>2:20 PM</option>
                            <option>2:30 PM</option>
                            <option>2:40 PM</option>
                            <option>2:50 PM</option>
                            <option>3:00 PM</option>
                            <option>3:10 PM</option>
                            <option>3:20 PM</option>
                            <option>3:30 PM</option>
                            <option>3:40 PM</option>
                            <option>3:50 PM</option>
                            <option>4:00 PM</option>
                            <option>4:10 PM</option>
                            <option>4:20 PM</option>
                            <option>4:30 PM</option>
                            <option>4:40 PM</option>
                            <option>4:50 PM</option>
                            <option>5:00 PM</option>
                            <option>5:10 PM</option>
                            <option>5:20 PM</option>
                            <option>5:30 PM</option>
                            <option>5:40 PM</option>
                            <option>5:50 PM</option>
                            <option>6:00 PM</option>
                            <option>6:10 PM</option>
                            <option>6:20 PM</option>
                            <option>6:30 PM</option>
                            <option>6:40 PM</option>
                            <option>6:50 PM</option>
                            <option>7:00 PM</option>
                            <option>7:10 PM</option>
                            <option>7:20 PM</option>
                            <option>7:30 PM</option>
                            <option>7:40 PM</option>
                            <option>7:50 PM</option>
                            <option>8:00 PM</option>
                            <option>8:10 PM</option>
                            <option>8:20 PM</option>
                            <option>8:30 PM</option>
                        </select>
                    </div>
                </div>

            </li>

            <li class="your-order-area">
                <div class="your-order-area-title perpetual-cart-title">Your Order:</div>
                <p class="your-order-default-text">Awaiting your Selection</p>
            </li>
        </ul>

    </section>
</div>