<div class="header-wrapper">

    <div class="header-inner mobile-only">
        <header class="main">
            <span class="mobile-nav" id="mobile-nav-trigger" href="#mobile-nav-main">
                <img src="images/mobile/nav_icon.png" alt="Navigation">
                <span class="text">Menu</span>
            </span>
            <span class="mobile-logo"><a href="/"><img src="images/_sg/sweet_green_logo.png" alt="Sweet Green Logo" class="company_logo"></a></span>
            <span class="mobile-basket" id="mobile-basket-trigger" href="#mobile-basket-main">
                <img src="images/mobile/basket_icon.png" alt="Basket">
                <span class="text">Cart</span>
                <span class="cart-item-count">15</span>
            </span>
        </header>
    </div>

    <div class="header-inner desktop-only">
        <header class="main">
            <a href="/"><img src="images/_sg/sweet_green_logo.png" alt="Sweet Green Logo" class="company_logo pull-left"></a>
            <div class="header-links pull-right">
                <!-- Signed In User START -->
                    <!--
                    <a href="#" class="welcome-user">Welcome, Omar</a>
                    <a href="#" class="sign-out">Sign Out</a>
                    -->
                <!-- Signed In User END -->

                <!-- Signed Out User START -->
                <a class="sign-in" href="login.html">Sign In</a>
                <a class="create-account" href="create-account.html">Create Account</a>
                <!-- Signed Out User END -->

<!--
                <a href="#" class="header-basket">
                    <img class="header-basket-icon" src="images/mobile/basket_icon.png" alt="Basket">
                    <span class="cart-item-count">15</span>
                </a>
-->
            </div>
        </header>

        <nav class="main-nav">
          <ul class="nav nav-pills">
              <li><a class="deals" href="start-order.html">Start Order</a></li>
              <li class="dropdown">
                <a id="drop1" class="menu" href="menu.html">Menu</a>
              </li>
              <li class="dropdown">
                <a id="drop2" class="locations" href="store-details.html">Locations</a>
              </li>
              
              <li><a class="contact" href="contact-us.html">Contact Us</a></li>
            </ul>
        </nav>

    </div>
</div>