<section class="newsletter">
    <p class="newsletter-title">Sign up for Hut Lovers<sup>&reg;</sup> to get great deals &amp; coupons in your inbox.</p>

    <form id="newsletter-form" action="#">
          <input type="text" class="form-control" placeholder="First Name" required>
          <input type="text" class="form-control" placeholder="Last Name" required>
          <input type="email" class="form-control" placeholder="Email Address" required>
          <input type="text" class="form-control" placeholder="Postcode" required>
          <button type="submit" class="btn btn-gold">Subscribe</button>
    </form>
</section>